body {
    background-color: lightslategray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

h1 {
    color: mediumblue;
    background-color: lightblue;
}

h2 {
    color: darkred;
}

p {
    text-align: justify;
}