@charset "UTF-8";

/* Tablets */
@media screen and (min-width: 701px) and (max-width: 992px) {
  header {
    flex-flow: column wrap;
    align-items: flex-start;
  }

  header h1 {
    margin-top: 5px;
    flex: 1 1 45px;
  }

  main {
    width: 97vw;
  }
}

/* Mobile */
@media screen and (max-width: 700px) {
  header, header nav {
    flex-flow: column wrap;
  }

  header h1 {
    margin-top: 5px;
    flex: 1 1 45px;
  }

  main, nav a {
    width: 95vw;
  }
}
