/*Deixa usar caracteres especiais nesse documento css*/
@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d6fde9;
    color: #333;
    margin: 20px;
}

h1 {
    color: #1e402f;
}

h1#titulo-principal {
    color: white;
    background-color: #3c805e;
    text-align: center;
}

h2 {
    color: #3c805e;
    margin-top: 20px;
}

.basico {
    color: #3c805e;
    font-weight: bold;
}

.intermediario {
    color: #80793c;
    font-weight: bold;
}

.avancado {
    color: #803c3c;
    font-weight: bold;
}

.destaque {
    background-color: #c5c56070;
    padding: 5px;
    border-radius: 5px;
}