@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #127369, #BFBFBF);
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #0b2a27a1;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #4C5958;
    text-align: center;
    text-shadow: 1px 1px 2px #333c3bc2;
}

h2 {
    color: #8AA6A3;
}

body p {
    text-align: justify;
}